In [1]:
import pandas as pd
from collections import Counter

all_recs_df = pd.read_csv("ALL_top10_transitions_with_skills.csv")

# Convert skill strings back into lists
all_recs_df["missing_skills"] = all_recs_df["missing_skills"].apply(
    lambda s: s.split("|") if isinstance(s, str) and s else []
)
all_recs_df["shared_skills"] = all_recs_df["shared_skills"].apply(
    lambda s: s.split("|") if isinstance(s, str) and s else []
)

In [2]:
missing_counter = Counter()

for skills in all_recs_df["missing_skills"]:
    for skill in skills:
        missing_counter[skill] += 1

top_missing_skills = (
    pd.DataFrame(missing_counter.items(), columns=["skill", "count"])
    .sort_values("count", ascending=False)
    .reset_index(drop=True)
)

top_missing_skills.head(20)

                           skill  count
0                time management   1639
1                problem solving   1563
2          operations monitoring   1366
3                  communication   1259
4              material handling   1102
5                troubleshooting   1095
6          equipment maintenance   1036
7                 record keeping    959
8           inventory management    903
9              critical thinking    807
10                  installation    708
11  judgment and decision making    676
12       complex problem solving    624
13          financial management    602
14               team management    569
15         laboratory techniques    529
16              customer service    523
17       technical documentation    491
18         precision measurement    484
19                     budgeting    467

In [3]:
weighted_counter = Counter()

for _, row in all_recs_df.iterrows():
    delta = row["delta_exposure"]  # how much safer the target job is
    for skill in row["missing_skills"]:
        weighted_counter[skill] += delta

top_weighted_skills = (
    pd.DataFrame(weighted_counter.items(), columns=["skill", "weighted_score"])
    .sort_values("weighted_score", ascending=False)
    .reset_index(drop=True)
)

top_weighted_skills.head(20)

                           skill  weighted_score
0                time management      124.863821
1                problem solving      116.969375
2                  communication      108.161290
3          equipment maintenance      108.105779
4          operations monitoring      102.968800
5           inventory management       86.492978
6                troubleshooting       80.935648
7              material handling       76.291472
8                 record keeping       70.572069
9              critical thinking       58.828769
10               team management       56.500023
11          financial management       56.032785
12              customer service       52.683734
13                  installation       48.173987
14       complex problem solving       45.473920
15  judgment and decision making       44.662887
16         laboratory techniques       41.178691
17                     budgeting       40.368554
18       technical documentation       40.072000
19          personnel management       35.126332

In [4]:
top_missing_skills.to_csv("TOP_missing_skills_frequency.csv", index=False)
top_weighted_skills.to_csv("TOP_missing_skills_weighted_by_exposure.csv", index=False)