In [ ]:
import pandas as pd

# Loading merged file
df = pd.read_csv("ILO_Occupations_with_exposure_score.csv")

#### Calculating and average exposure score per occupation

In [2]:
# Computing the average exposure per occupation
occupation_mean = (
    df.groupby("O*NET-SOC Code")["Mean"]
      .mean()
      .reset_index()
      .rename(columns={"Mean": "Final_ExposureScore"})
)

# Merging this average back into the full dataframe
df_final = df.merge(occupation_mean, on="O*NET-SOC Code", how="left")

# 4. Save the final file
df_final.to_csv("Occupations_with_FinalExposure.csv", index=False)

df_final.head(10)

,O*NET-SOC Code,Occupation,soc2019_code,soc2010_code,soc2010_6,isco08_code,isco08_title,4-digit code,Exposure,Mean,Final_ExposureScore
0,11-1011.00,Chief Executives,11-1011.00,11-1011.00,11-1011,1112.0,Senior government officials,1112.0,Minimal Exposure,0.38,0.330000
1,11-1011.00,Chief Executives,11-1011.00,11-1011.00,11-1011,1113.0,Traditional chiefs and heads of villages,1113.0,Not Exposed,0.23,0.330000
2,11-1011.00,Chief Executives,11-1011.00,11-1011.00,11-1011,1120.0,Managing directors and chief executives,1120.0,Minimal Exposure,0.38,0.330000
3,11-1011.03,Chief Sustainability Officers,11-1011.03,11-1011.03,11-1011,1112.0,Senior government officials,1112.0,Minimal Exposure,0.38,0.330000
4,11-1011.03,Chief Sustainability Officers,11-1011.03,11-1011.03,11-1011,1113.0,Traditional chiefs and heads of villages,1113.0,Not Exposed,0.23,0.330000
5,11-1011.03,Chief Sustainability Officers,11-1011.03,11-1011.03,11-1011,1120.0,Managing directors and chief executives,1120.0,Minimal Exposure,0.38,0.330000
6,11-1021.00,General and Operations Managers,11-1021.00,11-1021.00,11-1021,1112.0,Senior government officials,1112.0,Minimal Exposure,0.38,0.401429
7,11-1021.00,General and Operations Managers,11-1021.00,11-1021.00,11-1021,1114.0,Senior officials of special-interest organizat...,1114.0,Minimal Exposure,0.37,0.401429
8,11-1021.00,General and Operations Managers,11-1021.00,11-1021.00,11-1021,1120.0,Managing directors and chief executives,1120.0,Minimal Exposure,0.38,0.401429
9,11-1021.00,General and Operations Managers,11-1021.00,11-1021.00,11-1021,1343.0,Aged care services managers,1343.0,Minimal Exposure,0.34,0.401429

#### Cleaning

In [3]:

# 1. Load the file you just created
df_final = pd.read_csv("Occupations_with_FinalExposure.csv")

# 2. Drop the columns you don't want
df_cleaned = df_final.drop(columns=[
    "soc2019_code", 
    "soc2010_code",
    "soc2010_6",
    "isco08_code",
    "isco08_title",
    "4-digit code",
    "Exposure",
    "Mean"
])

# 3. Save cleaned file
df_cleaned.to_csv("Occupations_clean.csv", index=False)

df_cleaned.head()

  O*NET-SOC Code                     Occupation  Final_ExposureScore
0     11-1011.00               Chief Executives                 0.33
1     11-1011.00               Chief Executives                 0.33
2     11-1011.00               Chief Executives                 0.33
3     11-1011.03  Chief Sustainability Officers                 0.33
4     11-1011.03  Chief Sustainability Officers                 0.33

In [5]:
import pandas as pd

df1 = pd.read_csv("Occupations_clean.csv")

# Drop duplicates by occupation
df_unique = df1.drop_duplicates()

# Save
df_unique.to_csv("Occupations_unique.csv", index=False)

df_unique.head()

   O*NET-SOC Code                           Occupation  Final_ExposureScore
0      11-1011.00                     Chief Executives             0.330000
3      11-1011.03        Chief Sustainability Officers             0.330000
6      11-1021.00      General and Operations Managers             0.401429
13     11-1031.00                          Legislators             0.270000
15     11-2011.00  Advertising and Promotions Managers             0.390000

In [6]:
# Checking for NaN values in the final file
import pandas as pd
df2 = pd.read_csv("Occupations_unique.csv")
df2.isna().sum()

O*NET-SOC Code          0
Occupation              0
Final_ExposureScore    33
dtype: int64

In [7]:
df2.shape

(1016, 3)

In [ ]:
# Drop missing ones
df2_cleaned = df2.dropna()
df2_cleaned.to_csv("Occupations_unique_cleaned.csv", index=False)

In [9]:
df2_cleaned.shape

(983, 3)