### This notebook was created just to put together ONET Occupations with ILO AI-Exposure Scores, with all available ONET Skills and check if there is any missing.

In [2]:
import pandas as pd

dfs = pd.read_csv("Occupation_skills_clean.csv")

In [3]:
dfs.head()

,O*NET-SOC Code,Element Name,Skills,Final_ExposureScore
0,11-1011.00,Chief Executives,"[{'skill': 'Reading Comprehension', 'importanc...",0.33
1,11-1011.03,Chief Sustainability Officers,"[{'skill': 'Reading Comprehension', 'importanc...",0.33
2,11-1021.00,General and Operations Managers,"[{'skill': 'Reading Comprehension', 'importanc...",0.40
3,11-2011.00,Advertising and Promotions Managers,"[{'skill': 'Reading Comprehension', 'importanc...",0.39
4,11-2021.00,Marketing Managers,"[{'skill': 'Reading Comprehension', 'importanc...",0.41

In [4]:
dfs.shape

(894, 4)

In [5]:
dfo = pd.read_csv("Occupations_unique_cleaned.csv")

In [6]:
dfo.head()

  O*NET-SOC Code                           Occupation  Final_ExposureScore
0     11-1011.00                     Chief Executives             0.330000
1     11-1011.03        Chief Sustainability Officers             0.330000
2     11-1021.00      General and Operations Managers             0.401429
3     11-1031.00                          Legislators             0.270000
4     11-2011.00  Advertising and Promotions Managers             0.390000

In [7]:
dfo.shape

(983, 3)

In [ ]:
import pandas as pd

# 1. Load your files
exp = pd.read_csv("Occupations_unique_cleaned.csv")      # exposure per occupation
skills = pd.read_csv("Occupation_skills_clean.csv")      # occupations + skills + exposure

# Quick check of columns 
print(exp.columns)
print(skills.columns)

# 2. Merge on O*NET-SOC Code
merged = exp.merge(
    skills[["O*NET-SOC Code", "Skills"]],   # we only need the Skills + code from this file
    on="O*NET-SOC Code",
    how="left"                              # keep all occupations from the exposure file
)

# 3. How many occupations have skills (Skills NOT missing)?
num_with_skills = merged["Skills"].notna().sum()
print("Number of occupations with both exposure score and skills:", num_with_skills)

# 4. How many occupations are missing skills?
num_missing_skills = merged["Skills"].isna().sum()
print("Number of occupations missing skills:", num_missing_skills)

Index(['O*NET-SOC Code', 'Occupation', 'Final_ExposureScore'], dtype='object')
Index(['O*NET-SOC Code', 'Element Name', 'Skills', 'Final_ExposureScore'], dtype='object')
Number of occupations with both exposure score and skills: 886
Number of occupations missing skills: 97

In [9]:
# 5. (Optional) See which occupations are missing skills
missing_skills = merged[merged["Skills"].isna()]
print(missing_skills.head())

# 6. (Optional) Save the merged file for later use
merged.to_csv("Merged.csv", index=False)

   O*NET-SOC Code                            Occupation  Final_ExposureScore  \
3      11-1031.00                           Legislators             0.270000
7      11-2032.00             Public Relations Managers             0.393333
33     11-9039.00   Education Administrators, All Other             0.360000
49     11-9179.00  Personal Service Managers, All Other             0.366667
52     11-9199.00                   Managers, All Other             0.366667

   Skills
3     NaN
7     NaN
33    NaN
49    NaN
52    NaN

In [10]:
dfm = pd.read_csv("Merged.csv")
dfm.isna().sum()

O*NET-SOC Code          0
Occupation              0
Final_ExposureScore     0
Skills                 97
dtype: int64

In [11]:
# Drop rows with missing Skills
dfm_cleaned = dfm.dropna(subset=["Skills"])

In [12]:
dfm_cleaned.shape

(886, 4)

In [13]:
#Save the cleaned file for later use
dfm_cleaned.to_csv("Cleaned_final.csv", index=False)

In [14]:
# Drop column "Skills"
dfm_cleaned = dfm_cleaned.drop(columns=["Skills"], errors="ignore")
dfm_cleaned.head()

  O*NET-SOC Code                           Occupation  Final_ExposureScore
0     11-1011.00                     Chief Executives             0.330000
1     11-1011.03        Chief Sustainability Officers             0.330000
2     11-1021.00      General and Operations Managers             0.401429
4     11-2011.00  Advertising and Promotions Managers             0.390000
5     11-2021.00                   Marketing Managers             0.410000

In [15]:
# Save the silmple file for later use
dfm_cleaned.to_csv("AI-Exposure_Scores.csv", index=False)